body {
	margin: 15px;
}
h1 {
	text-align: center;
}
.container {
	margin: 20px;
}
.bold {
	font-weight: bold;
}
.border {
	border-style: solid;
	padding: 10px;
	border-width: 1px;
}
.greeting {
	text-align: center;
	font-size: 20px;
}
.warmColor {
	font-weight: bold;
	background-color: red;
}
.coolColor {
	background-color: blue;
	font-weight: bold;
}
.queryExample {
	background-color: yellow;
	font-weight: bold;
}
.loopQueryEx {
	background-color: green;
	font-weight: bold;
}
.domTraversing {
	color: blue;
	font-weight: bold;
}
.redText {
	color: red;
	font-weight: bold;
}
.eventHandler {
	border-style: solid;
	width: 200px;
	background-color: red;
}
.eventHandlerChild {
	color: blue;
}
.closeButton {
	border-style: solid;
	width: 60px;
	margin: 5px;
	float: right;
	text-align: center;
}
.messageTemplate {
	border-style: solid;
	padding: 8px;
	text-align: center;
	color: red;
}

.xAndYLocator {
	border-style: solid;
	color: blue;
	width: 100px;
}